/* ==========================================================================
   Buttons
   ========================================================================== */
.button-primary {
  padding: .7rem 2rem;
  background-color: #44bba4;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  border-radius: 3px;
  border-color: #44bba4;
}

.button-secondary {
  padding: .5rem .7rem;
  background-color: #e94f37;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  border-radius: 3px;
  border-color: #e94f37;
}

.center-button {
  text-align: center;
}
